{% extends 'core/base.html' %}
{% load static %}

{% block title %} Wydarzenia | {% endblock %}

{% block content %}

<section id="event" class="py-4">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-10 mx-auto mb-5">
				<div><img src="{{event.image.url}}" class="img-fluid mb-5" alt=""></div>
				<header class="mb-5">
					<h1 class="text-center mb-4">{{event.title}}</h1>
					<p class="text-center">
						{% if event.duration == 1 %}
							<i>Czas:</i> {{event.date_start|date:"d.m.Y, H:i"}} - {{event.date_end|date:"H:i"}} | <i>Miejsce:</i> <b>{{event.place}}</b>
						{% else %}					
							<i>Czas:</i> {{event.date_start|date:"d.m.Y"}} - {{event.date_end|date:"d.m.Y"}} | <i>Miejsce:</i> <b>{{event.place}}</b>		
						{% endif %}	
					</p>
				</header>
				<div class="text-justify mb-5">
					{{event.description|linebreaks}}					
				</div>
				<a href="{% url 'events:events' %}" class="btn btn-info float-left"><i class="fas fa-long-arrow-alt-left"></i> Powrót do listy wydarzeń</a>
			</div>

		</div>
	</div>
</section>	

{% endblock %}