# Created by https://www.gitignore.io/api/django

.prettierignore
settings.json

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/static
/staticfiles

# Unit test / coverage report
htmlcov/
.coverage 
.coveragerc
setup.cfg
.env