
#yoga-general img {
  max-width: 300px;
  width:100%;
}

#classes-description .card-header {
  background: var(--blue-color);
  cursor: pointer;
}

#accordion-class-types button {
  font-size: 1.4rem;
  color: rgb(1, 51, 80);  
  background-color: var(--blue-color);
}

#accordion-class-types button:hover {
  background-color: rgb(78, 174, 187);
}

#classes-description:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
