#post-list-section h2 {
  font-size: 1.25rem;
}

#post-list-section fieldset{
  border: 1px solid var(--blue-color);
  border-radius: 5px;
}

.card-subtitle {
   color: #575757 !important;
}

#post-list-section legend {
  font-size: 1rem;
  display: inline-block;
  padding: 0 10px;
  margin-left: 16px;
  margin-bottom: 0;
  width: auto;
  color: #575757;
}

#post-list-pagination .page-item a {
  color: #54545F;
}

#post-list-pagination .page-item a:hover {
  color: white;
  background-color: #54545F;
}

#post-list-pagination .page-item .page-active {
  color: white;
  background-color: #54545F;
} 

#post-list-section .card-subtitle {
  font-size: 1rem !important;
  font-family: 'Lato', 'Roboto', sans-serif;
}
