{% extends 'core/base.html' %}
{% load static %}

{% block content %}

	<!-- Blog posts -->
	<section id="blog-posts" class="py-5">
		<div class="container">

			<!-- Search bar -->
				<div class="row mb-4 justify-content-center">
					<a href="{% url 'blog:posts' %}" class="btn btn-secondary btn-sm px-4 mx-2">Wszystkie posty</a>
					{% for c in categories %}
						<a href="{% url 'blog:category' c.id %}" class="btn btn-secondary btn-sm px-4 mx-2">{{c.name}}</a>
					{% endfor %}
				</div>

				<div class="row">
					{% for post in category.post_set.all %}
						<div class="col-md-6 col-lg-4 mb-3">
							<div class="card">
								<img class="card-img-top img-fluid" src="{{post.image_thumbnail.url}}">
								<div class="card-body text-center">
									<h5 class="card-title">{{post.title}}</h5>
									<h6 class="card-subtitle text-muted mb-2">
										{{post.published|date:"SHORT_DATE_FORMAT"}}
										| Autor: {{ post.author }}
										| Kategorie: 
											{% for c in post.category.all %}
												{{ c.name }}
												{% if not forloop.last %}, {% endif %}
											{% endfor %}
									</h6>
									<p class="card-tex text-justify">{{post.content_short}}...</p>
									<a href="{% url 'blog:post' post.id %}" class="btn btn-info">Czytaj dalej <i class="fas fa-long-arrow-alt-right"></i></a>
								</div>							
							</div>											
						</div>	
					{% endfor %}		
				</div>					
					
		</div>
	</section>

{% endblock %}