{% extends 'core/base.html' %}
{% load static %}

{% block title %} Blog | {% endblock %}

{% block content %}

	<!-- Blog posts -->
	<section id="blog-posts" class="py-5">
		<div class="container">

			<!-- Search bar -->
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<header class="mb-5">
					<h3 class="text-center">{{post.title}}</h3>
					<p class="text-center">
					<small>
						{{post.published|date:"DATE_FORMAT"}} 
						| Autor: {{post.author}} 
						| Kategoria: 
							{% for c in post.category.all %}
								{{c.name}}{% if not forloop.last %}, {% endif %}
							{%endfor %}
					</small>
					</p>
				</header>
				<div><img src="{{post.image.url}}" class="img-fluid mb-5"></div>											
				<div class="text-justify">
					{{post.content|safe|linebreaks}}
					<a href="{% url 'blog:posts' %}" class="btn btn-info"><i class="fas fa-long-arrow-alt-left"></i> Powrót</a>
				</div>						
			</div>
				

			</div>			
		</div>
	</section>

{% endblock %}