<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block title %}{% endblock%} Yoga House - Studio Jogi</title>

    {% load static %}

    <!-- Bootstrap and styles -->
    <link
      href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'core/css/style_base.css' %}" rel="stylesheet" />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu|KoHo|Hebo|Lato"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}" />

    {% block style %}{% endblock%}

    <!-- Bootstrap -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}" defer></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" defer></script>
    <script src="{% static 'core/js/main_base.js' %}" defer></script>

    {% block script %}{% endblock%}

  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="container">
          <div class="row justify-content-center">
            <div class="d-none d-lg-block py-4 mb-0" id="siteHeading">
              <a href="{% url 'home' %}" class="tstyle-logo logo-lg">Yoga House</a>
            </div>
          </div>
        </div>

        <!-- Main Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark py-3" id="mainNav">
          <div class="container ">
            <a
              href="{% url 'home' %}"
              class="navbar-logo text-expanded d-lg-none tstyle-logo"
              >Yoga House</a
            >

            <button
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-label="przycisk menu"
            >
              <span class="navbar-toggler-icon icon-color" aria-hidden></span>
            </button>

            <div class="collapse navbar-collapse mt-4 mt-lg-0" id="navbarCollapse">
              <ul class="navbar-nav mx-auto">
                <!-- prettier-ignore-attribute -->
                <li class="nav-item px-lg-3 {% if request.path == '/' %} active {% endif %}">
                  <a href="{% url 'home' %}" class="nav-link text-expanded">
                    <span class="nav-span">Strona Główna</span></a>
                </li>
                <!-- prettier-ignore-attribute -->
                <li
                  class="nav-item px-lg-3 {% if request.path == '/o-nas/' %} active {% endif %}"
                >
                  <a href="{% url 'about:about' %}" class="nav-link text-expanded"
                    ><span class="nav-span">O Nas</span></a
                  >
                </li>
                <!-- prettier-ignore-attribute -->
                <li
                  class="nav-item px-lg-3 dropdown {% if '/zajecia/' in request.path %} active {% endif %}"
                >
                  <a
                    href=""
                    class="nav-link text-expanded dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    ><span class="nav-span">Zajęcia</span> <span class="caret"></span
                  ></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item px-3" href="{% url 'classes:classes' %}"
                        >Rodzaje Zajęć</span></a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item px-3" href="{% url 'classes:prices' %}"
                        >Ceny</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item px-3"
                        href="{% url 'classes:conditions' %}"
                        >Regulamin</a
                      >
                    </li>
                  </ul>
                </li>
                <!-- prettier-ignore-attribute -->
                <li
                  class="nav-item px-lg-3 {% if request.path == '/grafik/' %} active {% endif %}"
                >
                  <a
                    href="{% url 'schedule:week_view' %}"
                    class="nav-link text-expanded"
                    ><span class="nav-span"><i class="far fa-calendar-alt"></i> Grafik</span></a
                  >
                </li>
                <!-- prettier-ignore-attribute -->
                <li
                  class="nav-item px-lg-3 {% if request.path == '/wydarzenia/' %} active {% endif %}"
                >
                  <a href="{% url 'events:events' %}" class="nav-link text-expanded"
                    ><span class="nav-span">Wydarzenia</span></a
                  >
                </li>
                <!-- prettier-ignore-attribute -->
                <li
                  class="nav-item px-lg-3 {% if request.path == '/kontakt/' %} active {% endif %}"
                >
                  <a href="{% url 'contact:contact' %}" class="nav-link text-expanded"
                    ><span class="nav-span">Kontakt</span></a
                  >
                </li>
                <!-- prettier-ignore-attribute -->
                <li
                  class="nav-item px-lg-3 {% if request.path == '/blog/' %} active {% endif %}"
                >
                  <a href="{% url 'blog:posts' %}" class="nav-link text-expanded"
                    ><span class="nav-span">Blog</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- User Login Navbar -->
        <nav
          class="navbar navbar-light navbar-expand py-1 justyfy-content-right"
          id="userNav"
        >
          <div class="container">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item px-lg-3">
                <span class="nav-link text-expanded">STREFA KURSANTA |</span>
              </li>
              <li class="nav-item">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}" class="nav-link text-expanded"
                  ><i class="fas fa-user"></i>&nbsp;&nbsp;Zaloguj</a
                >
                {% else %}
                <a href="{% url 'logout' %}" class="nav-link text-expanded"
                  ><i class="fas fa-power-off"></i>&nbsp;&nbsp;Wyloguj</a
                >
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>

        <!-- Content -->
        {% block content %} {% endblock %}

        <!-- Footer -->
        <footer id="footer" class="footer text-center d-flex flex-column justify-content-center">
          <div class="container">
            <div id="social-link" class="mb-2">
              <a href="{{ LINK_GITHUB }}" target="_blank" aria-label="kod projektu na githubie">
                <i class="fab fa-github fa-2x" aria-hidden ></i>
              </a>
            </div>
            <a href="" class="link" data-toggle="modal" data-target="#creditsModal"
              >Credits</a
            >
          </div>
        </footer>
      </div>
    </div>

    <!-- Credits Modal -->
    <div class="modal" id="creditsModal"  tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Credits</h1>
            <button class="close" data-dismiss="modal" aria-label="zamknij">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-3">
              <p>
                Na stronie wykorzystano materiały graficzne z serwisów
                <a href="https://fontawesome.com/">fontawsome.com</a>
                i
                <a href="https://unsplash.com/">unsplash.com</a>.
              </p>
              <p>
                <b>Wykorzystano ikony z: </b>
                <a href="https://fontawesome.com/">fontawsome.com</a>
              </p>
              <p>
                <b>Wykorzystano fotografie z: </b>
                <a href="https://unsplash.com/">unsplash.com</a>
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>

    <button id="return-to-top" aria-hide>
      <i class="fas fa-chevron-up"></i>
    </button>

   </body>
</html>
