{% extends 'core/base.html' %} 

{% load static %} 

{% block style %} 
<link href="{% static 'core/css/style_home.css' %}" rel="stylesheet" />
{% endblock %}

{% block script %}

{% endblock%}


{% block content %}
<!-- Home Section -->
<section id="home-section" class="d-sm-block">
  <div class="dark-overlay">
    <div class="container h-100 d-flex flex-column justify-content-between py-5">
      <h1 class="text-center">Akademia Jogi</h1>
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <blockquote>
            Twoje ciało jest w przeszłości. Twój umysł w przyszłości. W jodze łączą się
            razem w teraźniejszości.
          </blockquote>
          <footer class="blockquote-footer"><b>BKS Iyengar</b></footer>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Classes Heading -->
<section id="class-heading" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="row">
          <div class="col-sm-4 mx-auto align-self-center mb-4 text-center">
            <img
              src="{% static 'core/img/owner.jpg' %}"
              class="img-fluid rounded-circle about-image"
              alt=""
            />
          </div>
          <div
            class="
              col-sm-8
              mx-auto
              text-center
              d-flex
              flex-column
              justify-content-center
              px-4
            "
          >
            <h2 class="style-caption text-capitalize mb-4">O nas</h2>
            <p class="text-lead style-light mb-4">
              Łączymy ludzi z pasją do jogi. Sprawdź czemu warto praktykować z nami
            </p>
            <div>
              <a href="{% url 'about:about' %}" class="btn btn-info"
                >Dowiedz Się Więcej...</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Classes Link -->
<section id="class-link">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container py-5">
          <h2 class="style-caption text-capitalize mb-4">Dołącz do nas</h2>
          <a href="{% url 'classes:classes' %}" class="btn btn-info mb-4"
            >Wybierz Zajęcia Dla Siebie</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Studio -->
<section id="studio" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="style-caption text-capitalize mb-4">Odwiedź nas</h2>
        <p class="text-lead style-light mb-4">
          Nasze studio znajduje sie w dogodnej lokalizacji w okolicy centrum Warszawy na
          Saskiej Kępie.
        </p>
        <a href="{% url 'contact:contact' %}" class="btn btn-info"
          >Sprawdź Jak Nas Znaleźć</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Showcase Slider -->

<section id="showcase">
  <h2 class="screen-reader-only">Opinie klientów</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-background">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <blockquote>
              "Fantastyczne miejsce z profesjonalnymi zajęciami jogi. Prowadzący są
              niezwykle życzliwi i otwarci, odpowiadający na pytania i wątpliwości."
            </blockquote>
            <footer class="blockquote-footer">Agnieszka M.</footer>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <blockquote>
              "Wspaniała praktyka, dużo wariantów do wyboru w zależności od nastroju to
              stopnia zaawansowania. Bardzo dobrze wytłumaczone i przećwiczone -
              znalazłam idealnie to czego potrzebowałam!"
            </blockquote>
            <footer class="blockquote-footer">Nina Z.</footer>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <blockquote>
              "Jako osoba początkująca poszukiwałam zajęć online, które pozwolą mi wejść
              do świata jogi łagodnie, ale z odpowiednią motywacją. Na zajęciach czuję
              się bardzo bezpieczniei mam przestrzeń do rozwoju."
            </blockquote>
            <footer class="blockquote-footer">Klaudia P.</footer>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev" role="button" aria-label="poprzedni">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next" role="button" aria-label="następny">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

{% endblock %} 