{% extends 'core/base.html' %}
{% load static %}

{% block title %} Kontakt | {% endblock %}

{% block content %}

	<!-- Address -->
	<section id="address" class="py-5">
		<div class="container">
			<h1 class="text-center mb-5">Kontakt</h1>
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<div class="row">
						
						<div class="col-lg-7">

							<!-- Map -->
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78231.90831307834!2d20.959640728176918!3d52.2116856856077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471932760f0caec9%3A0xa1dd58fbea14034b!2sLe%C5%9Bna%2C+00-001+Warszawa!5e0!3m2!1spl!2spl!4v1539336740292" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="col-lg-5">
							<h2 class="my-5">Studio Yoga House</h2>

							<p>
								<i class="fas fa-map-marker-alt px-3"></i>
								ul. Leśna 12, 00-999 Warszawa
							</p>
							<p>
								<i class="fas fa-envelope px-3"></i>
								kontakt@yogahouse.pl
							</p>
							<p>
								<i class="fas fa-phone px-3"></i>
								(+48) 123 456 789
							</p>							
						</div>

					</div>
				</div>				
			</div>
		</div>		
	</section>

	<!-- Contact Form -->
	<section id="contact-form" class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 mx-auto ">
					
					<div class="card">
						<div class="card-header text-center">
							<h2 class="mb-0">Napisz Do Nas!</h2>
						</div>
						<div class="card-body">

							<form action="" method="POST">
								{% csrf_token %}
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text" >
											<i class="fa fa-user" aria-hidden></i>
										</span>
									</div>
									{{form.name}}							
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fas fa-envelope" aria-hidden></i>
										</span>
									</div>
									{{form.email}}
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fa fa-pencil-alt" aria-hidden></i>
										</span>
									</div>
									{{form.content}}
								</div>
								<input class="btn btn-info btn-block" value="Wyślij" type="submit">		
							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

{% endblock %}