{% extends 'core/base.html' %}
{% load static %}

{% block title %} Grafik | {% endblock %}

{% block style %} 
<link href="{% static 'schedule/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

	<!-- Schedule Table -->
	<section class="pt-5 max-width-lg mx-auto" id="schedule" >
		<h1 class="text-center mb-5">Grafik Zajęć</h1>
		<div class="container-fluid">
			<!-- Go to another week (next or previous) -->
			<div class="row justify-content-center mb-4">
				<div class="col-md-6 col-xl-4 px-3 mobile-mb-3">
					<div class="row">
						{% if user.is_authenticated %}
							<div class="col-sm mx-3 mx-sm-0 px-2 mb-2">
								<a href="{% url 'schedule:user_class_list' %}" class="text-uppercase btn btn-outline-secondary btn-block ">
									Twoje zajęcia
								</a>
							</div>
						{% endif %}

						<div class="col-sm mx-3 mx-sm-0 px-2 mb-2">
							<a href="{% url 'schedule:week_view' %}" class="text-uppercase btn btn-outline-secondary btn-block ">
							Ten tydzień
						</a>
						</div>
					</div>			
				</div>
				<div id="select-week" class="h4 d-flex align-items-center justify-content-between col-md-6 col-xl-4">
					<a 
						href="{% url 'schedule:week_view' %}?day={{start_previous_week}}" 
						class="mx-4" 
						aria-label="poprzedni tydzień">
						<i class="fas fa-angle-left"></i>
					</a>
					<h2 class="h4" > {{weekdays.0.1}}&nbsp-&nbsp{{weekdays.6.1}}	</h2>
					<a
						href="{% url 'schedule:week_view' %}?day={{start_next_week}}" 
						class="mx-4"
						aria-label="następny tydzień"
					>
						<i class="fas fa-angle-right"></i>
					</a>
				</div>
			</div>	

			{% block schedule %}
				{% include 'schedule/components/schedule_lg_screen.html' %}
			  {% include 'schedule/components/schedule_sm_screen.html' %}
			{% endblock %}

			{% if messages.week_view %}
      <div class="alert alert-secondary text-center mt-3" role="alert">
				{{ messages.week_view }}
			</div>
    	{% endif %}

		</div>
	</section>

{% endblock %}

{% block js %} 

	{% if submit.modal %}
		<script type="text/javascript">
			$(document).ready(function(){
				$("#classModal{{submit.class_id}}").modal('show');
			});
		</script>
	{% endif %}

{% endblock %}