{% extends 'core/base.html' %}
{% load static %}

{% block content %}

	<!-- Schedule Table -->
	<section class="pt-5" id="schedule" >
		<div class="container">
			
			<!-- SCHEDULE FOR MEDIUM SCREEN AND BIGGER /Table/ -->
			<div class="row" id="schedule-md">
				<div class="col d-none d-md-block table-responsive">
					<div class="text-center mb-4">
						Wyświetl grafik dla: 
						<a href="{% url 'schedule:schedule' %}" class="btn btn-sm btn-info mx-2">Wszystkie zajęcia</a>
						{% for class_type in class_types %}							
							<a 
							href="{% url 'schedule:schedule_class_type' class_type.id %}" 
							class="btn btn-sm mx-2" 
							style="color:white; background-color:{{class_type.display_color.color}};">
								{{ class_type.name }}
							</a>
						{% endfor %}
					</div>
					<table class="table table-bordered text-center">
						<!-- Table header -->
						<thead class="text-uppercase ">
							<tr>
								<th>Godz.</th>
								{% for day in days_of_week %}
									<th>{{day}}</th>
								{% endfor %}
							</tr>
						</thead>
						<!-- Table body -->
						<tbody>
							{% for hour in start_time %}
							<tr>
								<th>{{hour.time|time:"G:i"}}</th>
								<!-- Classes in (big) schedule -->
								{% for day in days_of_week %}
									<td>
										{% for class in class_in_schedule %}
											{% if day in class.day_of_week and hour == class.start_time %}
										 		<button 
										 		type="button"
										 		class="btn btn-sm" 
										 		style="color:white; background-color:{{class.class_type.display_color.color}};"
										 		data-toggle="modal" 
										 		data-target="#classModal{{class.id}}">
										 			{{class.class_type}} 
										 			<br>
										 			<small>{{ class.teacher.name }}</small>
										 		</button> 
										 		<!-- Class Modal -->
												<div class="modal schedule-modal" id="classModal{{class.id}}">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title">{{class.class_type}}</h5>
																<button class="close" data-dismiss="modal">
																	<span>&times;</span>
																</button>
															</div>
															<div class="modal-body text-left">
																<div class="px-3">																	
																	<div class="row">
																		<div class="col-4">
																			<h6 class="mb-3">Instruktor:</h6>
																			<img src="{{ class.teacher.description.image.url }}" class="img-fluid rounded-circle mb-3">
																			<p class="text-center"><a href="{% url 'about:about' %}" >{{ class.teacher.name }}</a></p>
																		</div>
																		<div class="col-8">
																			<h6 class="mb-3">Opis zajęć:</h6>
																			<p class="text-justify mb-2">
																				{{class.class_type.description.description|truncatewords:40}}
																				<a href="{% url 'classes:classes' %}" >Dowiedz się więcej</a>
																			</p>
																			<p></p>
																		</div>
																	</div>
																</div>			
															</div>	
															<div class="modal-footer">
																<button class="btn btn-secondary" data-dismiss="modal">Close</button>
															</div>			
														</div>
													</div>
												</div>
										 	{% endif %}											
										{% endfor %}
									</td>
								{% endfor %}

							</tr>
							{% endfor %}
					
						</tbody>
					</table>
				</div>
			</div>	

			<!-- SCHEDULE FOR SMALL SCREENS /Accordeon/ -->

			<div class="row">
				<div class="col d-md-none" id="schedule-sm">
					
					{% 	for day in days_of_week %}

						<div class="card">
							<div class="card-header text-center">
								<h5 class="mb-0">
									<div href="#collapse_{{day}}" data-toggle="collapse" data-parent="#schedule-sm">
										<i class="fas fa-arrow-circle-down"></i> {{ day }}
									</div>
								</h5>
							</div>
							<div id="collapse_{{day}}" class="collapse">
								<div class="card-body">
									<table class="">	
										<tbody>
											{% for class in class_in_schedule %}
												{% if day in class.day_of_week %}
													<tr>
														<td>{{ class.start_time.time|time:"G:i" }} - {{ class.class_type }}  / <small class="text-muted">{{ class.teacher.name }}</small></td>				
													</tr>
												{% endif %}
											{% endfor %}										
										</tbody>
									</table>

								</div>
							</div>
						</div>



					{% endfor %}

				</div>
			</div>


		</div>
	</section>

	

{% endblock %}