{% extends 'core/base.html' %}
{% load static %}

{% block title %} Reset Hasła | {% endblock %}

{% block style %} 
<link href="{% static 'registration/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="registration-forms pt-5">
	<div class="container">
		<div class="row">			
			<div class="col-lg-8 mx-auto">
				<h3 class="mb-5">Zresetuj hasło</h3>
				<p class="mb-4">
				Nie pamiętasz swojego hasła? Wprowadź w poniższym polu swój adres email, a wyślemy Ci instrukcję opisującą sposób ustawienia nowego hasła.
				</p>
				<form method="POST"  action="" class="mb-5">
					{% csrf_token %}
					{{ form.email.errors }}
					<div class="form-group">
						<label for="id_email">Email</label>
						<input id="id_email" type="email" name="email" maxlength="254" required="" class="form-control" placeholder="Wpisz email">
					</div>
				<button type="submit" class="btn btn-block btn-info mt-5">Zresetuj moje hasło</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}