{% extends 'core/base.html' %}
{% load static %}

{% block title %} Reset Hasła | {% endblock %}

{% block content %}

<div class="registration-forms pt-5">
	<div class="container">
		<div class="row">			
			<div class="col-lg-8 mx-auto">
				<h3 class="mb-5">Hasło zostało wysłane</h3>
				<p class="">
					Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu email została wysłana. Niebawem powinna się pojawić na Twoim koncie pocztowym.
				</p>
				<p class="mb-4">
					W przypadku nieotrzymania wiadomości email: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.
				</p>				
			</div>
		</div>
	</div>
</div>

{% endblock %}