{% extends 'core/base.html' %} 
{% load static %} 
{% block title %} Rodzaje zajęć | {% endblock %} 

{% block style %} 
<link href="{% static 'classes/style_class_offer_list.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<!-- Yoga General Information -->
<section id="yoga-general" class="pt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h1 class="mb-5">Rodzaje Zajęć</h1>
        <div class="row">
          <div class="col-md-4 mx-auto align-self-start mb-3">
            <img
              src="{% static 'core/img/classes1.jpg' %}"
              class="img-fluid rounded-circle mb-4"
							alt=""
            />
          </div>
          <div class="col-md-8 mx-auto text-center">
            <h2 class="mb-4">Dlaczego warto ćwiczyć jogę?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
              necessitatibus molestias autem labore quaerat a cum tenetur quos, nobis
              velit laudantium eos accusantium officiis, rerum dignissimos beatae
              praesentium. Vero sint error repellendus ea incidunt maiores ex blanditiis
              laboriosam quam eius laudantium deleniti consectetur doloremque animi,
              placeat neque natus deserunt voluptates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Classes Description -->
<section id="classes-description" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h2 class="text-center mb-4">Opis Zajęć</h2>
        <div id="accordion-class-types">
          {% for c in class_offer %}
          <div class="card">
            <div id="heading{{c.id}}" class="card-header text-center p-0" >
              <h3 class="mb-0 p-0">
                <button 
                  class="w-100 h-100 p-2" 
                  data-toggle="collapse" 
                  data-target="#collapse{{c.id}}" 
                  aria-controls="collapse{{c.id}}"
                >
                  <i class="fas fa-arrow-circle-down" aria-hidden=""></i> {{ c.title }}
                </button>
              </h3>
            </div>
            <div 
              id="collapse{{c.id}}" 
              class="collapse" 
              aria-labelledby="heading{{c.id}}"
              data-parent="#accordion-class-types"
            >
              <div class="card-body">{{ c.description|linebreaks }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Preparation  -->
<section id="preparation">
  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h2 class="text-center mb-4">Przygotowanie do zajęć</h2>
        <p>
          Na zajęcia przyjdź wygodnie ubrany. Szkoła zapewnia maty dla kursantów. 
          Na miejscu można kupić wodę.
          Jeśli masz problemy zdrowotne przed uczestnictwem w zajęciach skonsultuj 
          się ze zwoim lekarzem.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
